.passwordEdit {
  @mixin wrapper;
  background: rgba(0, 0, 0, 0.34);
  backdrop-filter: blur(1px);

  & > form {
    width: 70%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    gap: 15px;
  }
}
