<div class="chat-outer wrapper">
  <ul class="nav wrapper" style="justify-content: center;margin-bottom: 25px;display: flex; gap: 25px">
    <li>
      <a href="#" data-page="signUp">Sign Up</a>
    </li>
    <li>
      <a href="#" data-page="signIn">Sign In</a>
    </li>
    <li>
      <a href="#" data-page="chat">Chat</a>
    </li>
    <li>
      <a href="#" data-page="error">Error</a>
    </li>
  </ul>

  <div class="chat wrapper">
    <div class="chat__left chats">
      <header class="chats__header">
        <span>
            Chats
        </span>

        {{{settingsButton}}}
      </header>

      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
  </div>

</div>
