<div class="chat__left chats">
    <header class="chats__header">
        <span>
            Chats
        </span>

        <button type="button" class="chats__settings" aria-label="settings">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path d="M18.7574 11.3081C18.8089 10.9126 18.8318 10.5082 18.8318 10.0981C18.8318 9.68786 18.8089 9.28066 18.7574 8.88511C17.5819 8.69759 16.6409 8.4837 16.5551 8.15848C16.4664 7.82153 17.1729 7.14471 18.0996 6.37711C17.7936 5.63875 17.4017 4.9473 16.9355 4.31739C15.8258 4.7569 14.9019 5.05276 14.6617 4.80963C14.4243 4.56646 14.7132 3.61716 15.1422 2.48325C14.5301 2.00278 13.8523 1.60136 13.1315 1.28787C12.3822 2.23426 11.7215 2.96085 11.3926 2.87002C11.0751 2.78506 10.8634 1.8182 10.6832 0.614007C10.2971 0.564185 9.89957 0.537781 9.49914 0.537781C9.09872 0.537781 8.70402 0.564148 8.31793 0.614007C8.13772 1.8182 7.92608 2.78502 7.6086 2.87002C7.27971 2.96085 6.61901 2.23426 5.87249 1.28787C5.1489 1.59845 4.47391 2.00278 3.859 2.48325C4.28517 3.61716 4.57402 4.56646 4.33664 4.80963C4.09923 5.0528 3.17541 4.7569 2.06569 4.31739C1.5995 4.94733 1.20476 5.63879 0.901613 6.37711C1.82543 7.14475 2.53192 7.82156 2.44613 8.15848C2.36031 8.4837 1.41932 8.69759 0.243832 8.88511C0.19228 9.28066 0.166504 9.6879 0.166504 10.0981C0.166504 10.5082 0.19228 10.9126 0.243759 11.3081C1.41929 11.4957 2.36027 11.7096 2.44606 12.0348C2.53185 12.3717 1.82251 13.0485 0.898697 13.8161C1.20473 14.5545 1.59658 15.2459 2.06565 15.8759C3.17537 15.4364 4.09919 15.1405 4.33661 15.3836C4.57399 15.6268 4.28513 16.5761 3.85897 17.7129C4.47103 18.1934 5.1489 18.5948 5.86961 18.9054C6.61897 17.959 7.27971 17.2324 7.6086 17.3232C7.92608 17.4082 8.13775 18.3751 8.31793 19.5792C8.70402 19.632 9.09872 19.6584 9.49914 19.6584C9.89957 19.6584 10.2971 19.632 10.6832 19.5792C10.8634 18.3751 11.0751 17.4082 11.3926 17.3232C11.7215 17.2324 12.3822 17.959 13.1315 18.9054C13.8523 18.5948 14.5301 18.1934 15.1422 17.7129C14.7132 16.5761 14.4243 15.6268 14.6617 15.3836C14.9019 15.1405 15.8258 15.4364 16.9355 15.8759C17.4046 15.2459 17.7964 14.5545 18.0996 13.8161C17.1758 13.0485 16.4665 12.3717 16.5551 12.0348C16.641 11.7096 17.582 11.4957 18.7574 11.3081ZM12.508 10.4907C12.4737 10.7778 12.4022 11.0503 12.2964 11.3052C12.1963 11.5455 12.0704 11.7711 11.916 11.9762C11.7501 12.2018 11.5528 12.401 11.3354 12.5739C11.1352 12.7291 10.9149 12.8581 10.6804 12.9606C10.4316 13.069 10.1627 13.1452 9.88527 13.1803C9.75942 13.1979 9.63072 13.2038 9.49914 13.2038C9.37045 13.2038 9.24175 13.1979 9.11589 13.1803C8.83557 13.1452 8.5696 13.069 8.32078 12.9606C8.0862 12.8581 7.86599 12.7291 7.6658 12.5739C7.44556 12.401 7.25105 12.2018 7.08232 11.9762C6.93076 11.7711 6.80207 11.5455 6.7048 11.3052C6.59892 11.0503 6.52458 10.7778 6.49027 10.4907C6.4731 10.3618 6.46738 10.2299 6.46738 10.0981C6.46738 9.96334 6.47307 9.83146 6.49027 9.70254C6.52458 9.41836 6.59892 9.14296 6.7048 8.88802C6.80491 8.64777 6.93073 8.4251 7.08232 8.21999C7.25109 7.99437 7.44556 7.79225 7.6658 7.62231C7.86603 7.46699 8.08624 7.33515 8.32078 7.23259C8.5696 7.12417 8.83557 7.05093 9.11589 7.01579C9.24175 6.9982 9.37045 6.98939 9.49914 6.98939C9.63072 6.98939 9.75942 6.9982 9.88527 7.01579C10.1627 7.0509 10.4316 7.12712 10.6804 7.23259C10.9149 7.33515 11.1352 7.46699 11.3354 7.62231C11.5528 7.79221 11.7501 7.99437 11.916 8.21999C12.0676 8.4251 12.1963 8.64777 12.2964 8.88802C12.3994 9.14296 12.4737 9.41832 12.508 9.70254C12.5252 9.83146 12.5338 9.96334 12.5338 10.0981C12.5338 10.2299 12.5252 10.3618 12.508 10.4907Z" fill="#A747D5"/>
                <path d="M6.7048 8.88683C6.80495 8.64658 6.93076 8.42387 7.08232 8.2188C7.25109 7.99318 7.44556 7.79106 7.6658 7.62112C7.86599 7.46587 8.08624 7.334 8.32078 7.23144C8.5696 7.12302 8.83557 7.04978 9.11589 7.01464C9.24171 6.99705 9.37045 6.98827 9.49914 6.98827V0.536591C9.09872 0.536591 8.70402 0.562958 8.31793 0.612742C8.13772 1.81694 7.92608 2.78383 7.6086 2.8688C7.27971 2.95963 6.61901 2.23295 5.87249 1.28664C5.1489 1.59722 4.47391 2.00155 3.85897 2.48203C4.28509 3.6159 4.57399 4.56523 4.33661 4.8084C4.09919 5.05157 3.17537 4.75567 2.06565 4.31616C1.59946 4.94611 1.20473 5.63756 0.901577 6.37588C1.82539 7.14352 2.53188 7.8203 2.44602 8.15725C2.36024 8.48243 1.41929 8.69636 0.243759 8.88388C0.192243 9.27943 0.166504 9.68667 0.166504 10.0969C0.166504 10.507 0.192243 10.9114 0.243759 11.3069C1.41929 11.4944 2.36024 11.7083 2.44602 12.0336C2.53188 12.3705 1.82251 13.0473 0.898697 13.8149C1.20473 14.5532 1.59658 15.2447 2.06565 15.8746C3.17537 15.4352 4.09919 15.1392 4.33661 15.3824C4.57399 15.6256 4.28509 16.5749 3.85897 17.7117C4.47103 18.1922 5.1489 18.5937 5.86961 18.9042C6.61897 17.9578 7.27971 17.2312 7.6086 17.322C7.92608 17.407 8.13775 18.3739 8.31793 19.578C8.70402 19.6308 9.09872 19.6572 9.49914 19.6572V13.2026C9.37045 13.2026 9.24175 13.1967 9.11589 13.1792C8.83557 13.144 8.5696 13.0678 8.32078 12.9594C8.0862 12.8568 7.86599 12.728 7.6658 12.5727C7.44556 12.3998 7.25105 12.2006 7.08232 11.975C6.93076 11.7699 6.80207 11.5443 6.7048 11.304C6.59896 11.0491 6.52462 10.7766 6.49031 10.4895C6.47314 10.3605 6.46738 10.2287 6.46738 10.0969C6.46738 9.96207 6.4731 9.83023 6.49031 9.70131C6.52462 9.41713 6.59896 9.14173 6.7048 8.88683Z" fill="#B776D6"/>
                <path d="M9.49765 5.43237C6.9836 5.43237 4.94434 7.52141 4.94434 10.0997C4.94434 12.6751 6.9836 14.7641 9.49765 14.7641C12.0146 14.7641 14.0539 12.6751 14.0539 10.0997C14.0539 7.52141 12.0146 5.43237 9.49765 5.43237ZM12.5066 10.4923C12.4722 10.7795 12.4007 11.052 12.2949 11.3069C12.1948 11.5471 12.0689 11.7727 11.9145 11.9778C11.7486 12.2034 11.5513 12.4027 11.3339 12.5755C11.1337 12.7308 10.9134 12.8597 10.6789 12.9622C10.4301 13.0707 10.1612 13.1468 9.88378 13.182C9.75793 13.1995 9.62923 13.2054 9.49762 13.2054C9.36892 13.2054 9.24022 13.1996 9.11437 13.182C8.83404 13.1468 8.56808 13.0707 8.31925 12.9622C8.08467 12.8597 7.8645 12.7308 7.66427 12.5755C7.44407 12.4026 7.24952 12.2034 7.08083 11.9778C6.92924 11.7727 6.80054 11.5471 6.7033 11.3069C6.59747 11.052 6.52309 10.7795 6.48875 10.4923C6.47161 10.3634 6.46589 10.2316 6.46589 10.0997C6.46589 9.96495 6.47158 9.83307 6.48875 9.70419C6.52309 9.42001 6.59747 9.14457 6.7033 8.88967C6.80338 8.64938 6.92924 8.42675 7.08083 8.22168C7.24956 7.99602 7.44407 7.7939 7.66427 7.62397C7.8645 7.46871 8.08471 7.3368 8.31925 7.23428C8.56808 7.1259 8.83404 7.05266 9.11437 7.01748C9.24022 6.99993 9.36892 6.99111 9.49762 6.99111C9.62923 6.99111 9.75793 6.99993 9.88378 7.01748C10.1612 7.05266 10.4301 7.12881 10.6789 7.23428C10.9134 7.3368 11.1337 7.46871 11.3339 7.62397C11.5512 7.79393 11.7486 7.99606 11.9145 8.22168C12.0661 8.42675 12.1948 8.64942 12.2949 8.88967C12.3978 9.14457 12.4722 9.41997 12.5066 9.70419C12.5237 9.83307 12.5323 9.96495 12.5323 10.0997C12.5323 10.2316 12.5237 10.3634 12.5066 10.4923Z" fill="#FEFFFE"/>
            </svg>
        </button>
    </header>

    <ul class="chats__list">
        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>

        <li>
            <div  class="chats__item">
                <div class="chats__image">
                    <img src="./../../img/avatar.png" alt="#" decoding="async" loading="lazy">
                </div>

                <span class="chats__name">
                    Шизотипическое расстройство
                </span>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate, distinctio earum eligendi eos error et eum inventore laborum maxime molestiae natus qui quia sunt tempore vero voluptatem voluptatum.
                </p>
            </div>
        </li>
    </ul>
</div>
