<div class="chat__right">
    <div class="chat__right-header">
        <span>Dialog</span>
    </div>

    <div class="chat__window"></div>

    <form class="chat__bottom">
        <label class="chat__message">
            <textarea name="message" class="textarea" placeholder="Введите ваше сообщение..."></textarea>
            <span class="visually-hidden">
                Введите ваше сообщение...
            </span>
        </label>

        <button type="submit" class="chat__send-button" aria-label="Отправить">
            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="37" viewBox="0 0 41 37" fill="none">
                <path d="M3.68763 12.0558L36.8543 1.46274C37.2421 1.30021 37.6765 1.24844 38.0984 1.31449C38.5203 1.38053 38.9092 1.56119 39.2121 1.83184C39.515 2.1025 39.7171 2.45 39.791 2.82702C39.8649 3.20405 39.807 3.59227 39.6251 3.93881L27.771 33.5771C27.6661 33.9884 27.4079 34.3557 27.0389 34.6188C26.6699 34.8819 26.2118 35.0251 25.7397 35.0251C25.2676 35.0251 24.8095 34.8819 24.4405 34.6188C24.0715 34.3557 23.8134 33.9884 23.7085 33.5771L18.4793 21.4388C18.3753 21.1821 18.2095 20.949 17.9934 20.7559C17.7774 20.5629 17.5166 20.4147 17.2293 20.3218L3.64596 15.6861C3.18668 15.5883 2.77823 15.3539 2.48754 15.0214C2.19685 14.6889 2.04117 14.278 2.04601 13.8561C2.05085 13.4342 2.21593 13.0263 2.51419 12.6992C2.81245 12.3721 3.2262 12.1453 3.68763 12.0558Z" fill="#C600CA" fill-opacity="0.47"/>
                <path d="M17.6001 21.1892L24.0525 15.4103M2.75943 15.9304L16.7827 20.7654C17.0793 20.8615 17.3486 21.0149 17.5717 21.2146C17.7947 21.4143 17.9659 21.6556 18.0732 21.9212L23.4718 34.4805C23.5801 34.9061 23.8465 35.2861 24.2275 35.5583C24.6085 35.8305 25.0814 35.9787 25.5688 35.9787C26.0562 35.9787 26.5291 35.8305 26.9101 35.5583C27.2911 35.2861 27.5576 34.9061 27.6659 34.4805L39.7965 3.87193C39.9842 3.51337 40.044 3.11169 39.9677 2.72158C39.8914 2.33148 39.6827 1.97193 39.37 1.69188C39.0574 1.41184 38.6559 1.22492 38.2203 1.15658C37.7847 1.08824 37.3362 1.14181 36.9359 1.30998L2.69491 12.2705C2.21853 12.363 1.79138 12.5978 1.48346 12.9362C1.17554 13.2746 1.00511 13.6967 1.00011 14.1333C0.995114 14.5698 1.15584 14.9949 1.45594 15.3389C1.75605 15.683 2.17773 15.9255 2.65189 16.0268L2.75943 15.9304Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </form>
</div>
