<footer class="footer">
    <div class="footer__wrapper wrapper">
        <p>
            developed by <a href="#">@smfs</a>
        </p>

        <span>
            2023
        </span>
    </div>
</footer>
<script type="module" src="./../../js/main.js"></script>