<header class="header">
    <div class="wrapper header__wrapper">
        <div class="header__logo">
            <img src="./../../img/logo.svg" width="245" height="28" decoding="async" alt="Messenger's logo">
        </div>
    </div>
</header>