.form__label {
  --height: 30px;

  position: relative;
  width: 100%;

  input {
    height: var(--height);
    padding: 0 8px;
    line-height: var(--height);
    display: block;
    width: 100%;

    font-family: $secondFont;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: $black;
    border-bottom: 2px solid $accentColor;
  }

  > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    color: $gray;
    transition: transform $trans;
  }

  &.active > span {
    transform: scale(0.75) translate(-8px, -35px);
  }

  input:focus + span {
    transform: scale(0.75) translate(-8px, -35px);
  }
}

.form__button {
  width: 100%;
}
