.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  box-shadow: $shadow;
  border-radius: 20px;
  padding: 30px;
  width: 480px;
}

.modal .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 70%;
}
