$black: #111111;
$white: #ffffff;
$accentColor: #9B3BC9;
$darkAccentColor: #8900CA;
$bgColor: #FAFBFC;
$gray: #ADB3BD;
$gray2: #CFCFCF;

$mainFont: "Montserrat", sans-serif;
$secondFont: "Inter", sans-serif;

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$trans: 0.185s ease-in-out;
