<div class="{{styles.avatarUpload}}">

  <div class="{{styles.preview}}">
    {{#if pathname}}
      <img src="{{pathname}}" alt="Avatar">
    {{/if}}
  </div>

  <form enctype="multipart/form-data">
    <label class="custom-file-upload">
      Upload avatar

      {{{uploadInput}}}
    </label>

  </form>
</div>
