{{#> app }}
{{#*inline "content"}}
<div class="wrapper error-page">
    <span class="title">
        Oh.. something went wrong
    </span>

    <p>
        Error message Error message Error message Error message Error message Error message
    </p>

    <svg xmlns="http://www.w3.org/2000/svg" width="312" height="312" viewBox="0 0 312 312" fill="none">
        <g clip-path="url(#clip0_16_552)">
            <path
                d="M0 0V62.4V72.8V312H312V72.8V62.4V0H0ZM104 202.8H88.4V244.4C88.4 247.27 86.0704 249.6 83.2 249.6C80.3296 249.6 78 247.27 78 244.4V202.8H46.8C43.9296 202.8 41.6 200.47 41.6 197.6V140.4C41.6 137.53 43.9296 135.2 46.8 135.2C49.6704 135.2 52 137.53 52 140.4V192.4H78V182C78 179.13 80.3296 176.8 83.2 176.8C86.0704 176.8 88.4 179.13 88.4 182V192.4H104C106.87 192.4 109.2 194.73 109.2 197.6C109.2 200.47 106.87 202.8 104 202.8ZM187.2 215.8C187.2 234.437 172.037 249.6 153.4 249.6C134.763 249.6 119.6 234.437 119.6 215.8V169C119.6 150.363 134.763 135.2 153.4 135.2C172.037 135.2 187.2 150.363 187.2 169V215.8ZM265.2 202.8H249.6V244.4C249.6 247.27 247.27 249.6 244.4 249.6C241.53 249.6 239.2 247.27 239.2 244.4V202.8H208C205.13 202.8 202.8 200.47 202.8 197.6V140.4C202.8 137.53 205.13 135.2 208 135.2C210.87 135.2 213.2 137.53 213.2 140.4V192.4H239.2V182C239.2 179.13 241.53 176.8 244.4 176.8C247.27 176.8 249.6 179.13 249.6 182V192.4H265.2C268.07 192.4 270.4 194.73 270.4 197.6C270.4 200.47 268.07 202.8 265.2 202.8ZM10.4 62.4V10.4H301.6V62.4H10.4Z"
                fill="#9B3BC9" />
            <path
                d="M282.324 17.1236L270.4 29.0472L258.476 17.1236L251.124 24.4764L263.047 36.4L251.124 48.3236L258.476 55.6764L270.4 43.7528L282.324 55.6764L289.676 48.3236L277.753 36.4L289.676 24.4764L282.324 17.1236Z"
                fill="#9B3BC9" />
            <path d="M218.4 15.6H15.6001V57.2H218.4V15.6Z" fill="#9B3BC9" />
            <path
                d="M153.4 145.6C140.499 145.6 130 156.099 130 169V215.8C130 228.701 140.499 239.2 153.4 239.2C166.301 239.2 176.8 228.701 176.8 215.8V169C176.8 156.099 166.301 145.6 153.4 145.6Z"
                fill="#9B3BC9" />
        </g>
        <defs>
            <clipPath id="clip0_16_552">
                <rect width="312" height="312" fill="white" />
            </clipPath>
        </defs>
    </svg>
</div>
{{/inline}}
{{/app}}
