{{#> app }}
{{#*inline "content"}}
<ol class="wrapper" style="margin-top: 5rem">
    <li>
        <a href="../../js/pages/signIn/template.hbs">
            Sign In
        </a>
    </li>

    <li>
        <a href="./sign-up.hbs">
            Sign Up
        </a>
    </li>

    <li>
        <a href="./chat.hbs">
            Chat
        </a>
    </li>

    <li>
        <a href="./settings.hbs">
            Settings
        </a>
    </li>

    <li>
        <a href="./404.hbs">
            404
        </a>
    </li>

    <li>
        <a href="./505.hbs">
            505
        </a>
    </li>
</ol>
{{/inline}}
{{/app}}
