<div class="modal wrapper settings" style="display: none">
  <div class="modal__inner">
    <h2 class="title title--h2">
      {{title}}
    </h2>

    <form class="form setting__form" action="#" method="POST">
      {{{form}}}
    </form>
  </div>
</div>
