.auth {
  @mixin wrapper;

  & form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.autocomplete {
  width: 70%;
  margin-top: 10px;
}

.logout {
  width: 70%;
  margin-top: 10px;
}

.error {
  color: red;
}
