<div class="auth modal wrapper">
  <div class="nav" style="display: flex; gap: 25px">
    <a href="#" data-page="signUp">Sign Up</a>
    <a href="#" data-page="signIn">Sign In</a>
    <a href="#" data-page="chat">Chat</a>
    <a href="#" data-page="error">Error</a>
  </div>

    <div class="modal__inner">
        <h2 class="title title--h2">
          {{title}}
        </h2>

      {{{signInForm}}}

      <a href="../../../html/pages/sign-up.hbs" class="auth__sign-up">
        Create account
      </a>
    </div>
</div>
