.modal {
  @mixin modal;

}

.modal.is-active {
  @mixin modal-active;
}

.close {
  position: absolute;
  z-index: 10;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  top: 20px;
  right: 20px;
  transition: color $trans;

  &:hover {
    color: $accentColor;
  }
}

.inner {
  position: relative;

  > div {
    @mixin modal-inner;
  }
}
