.message {
  max-width: 40%;
  padding: 15px;
  width: auto;
  border: 1px solid #cccccc;
  border-radius: 10px 10px 0;

  &.to {
    align-self: flex-end;
    border-radius: 10px 10px 0;
  }

  time {
    opacity: 0.75;
    font-size: 12px;
  }
}
