.link {
  color: $accentColor;
  font-size: 11px;
  line-height: 13px;
  text-decoration-line: underline;
  margin-top: 10px;
  transition: color $trans;
  cursor: pointer;

  &:hover {
    color: $gray;
  }
}
