.link {
  transition: color $trans;
  cursor: pointer;

  &:has(.icon) {
    &:hover {
      color: $darkAccentColor;
    }
  }

  &:has(.textLink) {
    color: $accentColor;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    margin-top: 10px;

    &:hover {
      color: $gray;
    }
  }
}
